  <h1>Affectation en cours</h1>
  <h4><%="Affectation du #{@assignment.start_date} au #{@assignment.end_date}"%></h4>
  <ul>
    <li><%= @assignment.school.name %></li>
    <li><%= @assignment.classroom.level %></li>
    <li><%= "#{@assignment.school.director.first_name} #{@assignment.school.director.last_name}" %></li>
  </ul>
  <div class="container">
    <button>
      <%= link_to 'Accepter', assignment_path(@assignment) %>
    </button>
  </div>
