<div class="container">
  <h2> Liste de <%= pluralize(@assignments.count, 'affectation') %> pour <%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
  <% if @assignments.empty? %>
    <%= "Pas d'affectations en cours..." %>
  <% else %>

    <% if @futur_assignments %>
      <div class="line"><span class="tkt">A venir</span></div>
      <div class="avenir-assign-content">
          <%= render 'shared/assign_card', temp_assigns: @futur_assignments %>
      </div>
    <% end %>

    <% if @current_assignment %>
      <div class="line"><span class="tkt">En cours</span></div>
      <div class="encours-assign-content">
          <%= render 'shared/assign_card', temp_assigns: [@current_assignment] %>
      </div>
    <% end %>

    <% if @past_assignments %>
      <div class="line"><span class="tkt">Passées</span></div>
      <div class="past-asign-content">
        <%= render 'shared/assign_card', temp_assigns: @past_assignments %>
      </div>
    <% end %>

  <% end %>
</div>
