<div class="container">
  <h1> <%= "Historique d'affectation(s) de #{current_user.first_name} #{current_user.last_name}" %> </h1>

  <% if @assignments.empty? %>
    <%= "Pas d'affectations en cours..." %>
  <% else %>
    <ul>
      <% @assignments.each do |assignment| %>
        <li> <%= assignment.school.name %> </li>
        <li> <%= "Période du #{assignment.start_date} au #{assignment.end_date}" %> </li>
        <li> <%= "Indemnités kilométrique" %> </li>
        <li> <%= "Prime REP" %> </li>
        <li> <%= "Total" %> </li>
        <br>
          <% if assignment.distance != 0 %>
            <p>Indemnité pour : <%= sprintf('%.3f', assignment.distance) %> Km = <%= sprintf('%.2f', assignment.indemnite_km_per_day) %>€ X <%= assignment.duration %> jours = <%= sprintf('%.2f', assignment.indemnite_km) %>€</p>
          <% end %>
          <% if assignment.school.specification? %>
            <p>Prime pour établissement <%= assignment.school.specification %> : <%= sprintf('%.2f', assignment.prime_per_day) %>€ X <%= assignment.duration %> jours = <%= sprintf('%.2f', assignment.prime) %>€</p>
          <% end %>
          <% if assignment.distance != 0 && assignment.school.specification? %>
            <p>Total prime + indemnité = <%= sprintf('%.2f', assignment.indemnite_km + assignment.prime) %>€
          <% end %>
      <% end %>
    </ul>
  <% end %>
  <% if @current_assignment %>
    <%= link_to 'Voir mon affectation actuelle', assignment_path(@current_assignment), class: "btn btn-primary" %>
  <% end %>
</div>

