  <h1> <%= "Historique d'affectation(s) de #{current_user.first_name} #{current_user.last_name}" %> </h1>

  <% if @assignments.empty? %>
    <%= "Tu n'as pas d'affectations en cours..." %>
  <% else %>
    <ul>
      <% @assignments.each do |assignment| %>
        <li> <%= assignment.school.name %> </li>
        <li> <%= "Période du #{assignment.start_date} au #{assignment.end_date}" %> </li>
        <li> <%= "Indemnités kilométrique" %> </li>
        <li> <%= "Prime REP" %> </li>
        <li> <%= "Total" %> </li>
        <br>
      <% end %>
    </ul>
  <% end %>
  <% if @assignment != nil %>
    <%= link_to 'Voir mon affectation actuelle', assignment_path(@assignment), class: "btn btn-primary" %>
  <% end %>
  <% console %>

