<div class="container rectorat_assignments">
  <div class="container-titre">
    <h1>Demandes de remplacement</h1>
  </div>
  <div class="school_cards">
    <% @assignments.each_with_index do |assignment, i| %>
      <%= link_to teacher_proposals_assignment_path(assignment), class: 'school_card', style: "animation-delay: #{i * 0.4}s;" do %>
        <div class="header_card">
          <div class="text_card">
            <p class="titre_card"><%= assignment.school.name %></p>
            <div class="line_card">
              <%= render 'svg/calendar.svg', height: 25 %>
              <p><%= "Du #{l assignment.start_date} au #{l assignment.end_date}" %> (<%= pluralize((assignment.end_date - assignment.start_date).to_i, 'jour') %>)</p>
            </div>
          </div>
          <div class="badges_card">
            <span class="badge rounded-pill badge-level"><%= assignment.classroom.level %></span>
            <span class="badge rounded-pill badge-specification"><% if assignment.school.specification? %>
              <%= assignment.school.specification %>
            <% end %></span>
          </div>
        </div>
        <div class="line_card">
          <%= render 'svg/icon_map.svg', height: 25 %>
          <p><%= assignment.school.address %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
