<div class="container titre">
  <h1>Requêtes des établissements</h1>
  <h3>Demandes de remplacements - en cours </h3>
</div>
<% @assignments.each do |assignment| %>
<div class="carte">
  <div class="contenu">
    <div class="paragraphe">
      <ul>
        <li><strong><%= "Affectation du #{l assignment.start_date} au #{l assignment.end_date}" %></strong> (<%= pluralize((assignment.end_date - assignment.start_date).to_i, 'jour') %>) </li>
        <li><%= assignment.school.name %></li>
        <li><%= assignment.school.address %></li>
        <li>Niveau de la classe : <%= assignment.classroom.level %></li>
        <% if assignment.school.specification? %>
          <li>Catégorie: <%= assignment.school.specification %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="clique">
    <div class="bouton">
      <%= link_to "Trouver un remplaçant", teacher_proposals_assignment_path(assignment) %>
    </div>
  </div>
</div>
<% end %>
