<div class="container">
  <div class="container-titre">
    <div class="titre">
      <h1>Requêtes des établissements</h1>
      <h3>Demandes de remplacements - en cours </h3>
    </div>
  </div>
  <div class="assignment_cards">
    <% @assignments.each do |assignment| %>
      <%= link_to teacher_proposals_assignment_path(assignment), :action => 'go' do %>
      <div class="assignment_card">
        <div class="header_card">
          <div class="text_card">
            <p><%= assignment.school.name %></p>
            <p><%= "Du #{l assignment.start_date} au #{l assignment.end_date}" %> (<%= pluralize((assignment.end_date - assignment.start_date).to_i, 'jour') %>)</p>
          </div>
          <div class="badges_card">
            <span class="badge rounded-pill bg-light text-dark"><%= assignment.classroom.level %></span>
            <span class="badge rounded-pill bg-info text-dark"><% if assignment.school.specification? %>
              <%= assignment.school.specification %>
            <% end %></span>
          </div>
        </div>
        <div class="content_card">
          <p><%= assignment.school.address %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
