<div class="dashboard-nav" style="background-image: linear-gradient(rgba(255,249,240,0.8), rgba(255, 249, 240,0.8)), url(<%= image_url("support_fond_#{rand(1..5)}.png")%>);">
  <div class=" container assign-container">
    <div class="row">
      <div class="col-7">
        <h3>Classe de <%= @assignment.classroom.level%> de <%= @assignment.classroom.main_teacher.first_name%> <%= @assignment.classroom.main_teacher.last_name%> </h3>
        <h6>Affectation #<%= @assignment.created_at.time.to_i%>-<%= @assignment.id %></h6>
      </div>
      <div class="col-5">
        <div class="d-grid gap-4 col-1 mx-auto mb-2">
          <%= link_to 'Historique', assignments_path, class: "btn btn-secondary btn-sm mt-1" %>
        </div>
        <div class="text-right">
          <p>Du <strong><%= l @assignment.start_date %></strong> au <strong><%= l @assignment.end_date %></strong>, soit <%= @assignment.duration %> jour(s). </p>
        </div>
        <div class="text-right">
          <% if @assignment.user %>
            <% if @assignment.distance != 0 && @assignment.school.specification? %>
              Total indemnités = <strong><%= sprintf('%.2f', @assignment.indemnite_km + @assignment.prime) %>€</strong></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container margin-dashboard">
  <div class="row">
    <div class="col-sm">
      <%= render 'shared/school_board', classroom: @assignment.classroom, assignment: @assignment  %>
    </div>
    <div class="col-sm">
      <%= render 'shared/school_map', classroom: @assignment.classroom, assignment: @assignment, marker:@marker %>
    </div>
    <div class="col-sm">
      <%= render 'shared/classroom_log', classroom: @assignment.classroom, assignment: @assignment  %>
    </div>
  </div>
</div>
