<div class="container">
<h2><%="Affectation N° "%></h2>
<p>Du <%= "#{@assignment.start_date} au #{@assignment.end_date}" %></p>
<h3><%= @assignment.school.name %></h3>
<p>Classe de <%= @assignment.classroom.level%></p>
<h4>Directeur / Directrice :</h4>
<p><%="#{@assignment.school.director.first_name} #{@assignment.school.director.last_name}"%></p>
<p><%="#{@assignment.school.director.phone}"%></p>
<p><%="#{@assignment.school.director.email}"%></p>

<h4>Enseignant(e) absent(e) :</h4>
<p><%="#{@assignment.classroom.main_teacher.first_name} #{@assignment.classroom.main_teacher.last_name}"%></p>
<p><%="#{@assignment.classroom.main_teacher.phone}"%></p>
<p><%="#{@assignment.classroom.main_teacher.email}"%></p>

<%= render 'shared/classroom_board', classroom: @assignment.classroom, assignment: @assignment  %>
<%#= link_to "got to classroom", classroom_path(@classroom)  %>
</div>
