<div class="dash-container">

    <div class="dashboard-nav">

      <div class="head-row">
        <div class="">
          <h3>Classe de <%= @assignment.classroom.level%></h3>
          <h5><%= @assignment.classroom.school.name%></h5>
          <p>Du <strong><%= l @assignment.start_date %></strong> au <strong><%= l @assignment.end_date %></strong>, soit <%= @assignment.duration %> jour(s). </p>
        </div>
        <div class="">
          <div class="text-right">
            <h6>Affectation #<%= @assignment.created_at.time.to_i%>-<%= @assignment.id %></h6>
            <% if @assignment.user %>
              <% if @assignment.distance != 0 || @assignment.school.specification? %>
                Total indemnités : <h1><span class="badge-total"><%= sprintf('%.2f', @assignment.indemnite_km + @assignment.prime) %>€<%= link_to "", assignments_path(anchor: @assignment.id), class: "stretched-link" %></span></h1>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  <div class="dash-row">

      <div class="dash-col">
        <%= render 'shared/school_board', classroom: @assignment.classroom, assignment: @assignment %>
      </div>
      <div class="dash-col">
        <%= render 'shared/school_map', classroom: @assignment.classroom, assignment: @assignment, marker:@marker %>
      </div>
      <div class="dash-col">
        <%= render 'shared/classroom_log', classroom: @assignment.classroom, assignment: @assignment %>
      </div>

  </div>

</div>
