<div class="container teacher_proposals">
  <div class="school_card">
    <div class="assignment_card_proposals">
      <div class="header_card">
        <div class="text_card">
          <p class="titre_card"><%= @assignment.school.name %></p>
          <div class="line_card">
            <%= image_tag "calendar.svg", height: 25 %>
            <p><%= "Du #{l @assignment.start_date} au #{l @assignment.end_date}" %> (<%= pluralize((@assignment.end_date - @assignment.start_date).to_i, 'jour') %>)</p>
          </div>
        </div>
        <div class="badges_card">
          <span class="badge rounded-pill badge-level"><%= @assignment.classroom.level %></span>
          <span class="badge rounded-pill badge-specification"><% if @assignment.school.specification? %>
            <%= @assignment.school.specification %>
          <% end %></span>
        </div>
      </div>
      <div class="line_card">
        <%= image_tag "icon_map.svg", height: 30 %>
        <p><%= @assignment.school.address %></p>
      </div>
    </div>
  </div>

  <h2>
    Selection de l'enseignant :
  </h2>

  <div class="d-flex justify-content-around margin_enseignant">
    <% @match_teachers_around.each do |teacher| %>
      <div class="teacher-card">
        <div class="en-tete">
          <% if teacher.photo.attached? %>
            <%= cl_image_tag teacher.photo.key, height: 175, width: 175, crop: :fill, class: 'avatar' %>
          <% end %>
        </div>
        <div class="contenus">
          <h5><%= "#{teacher.first_name} #{teacher.last_name}" %></h5>
          <div class="badges_card">
            <span class="badge rounded-pill badge-level"><%= @assignment.classroom.level %></span>
            <span class="badge rounded-pill badge-specification"><% if @assignment.school.specification? %>
              <%= @assignment.school.specification %>
            <% end %></span>
          </div>
          <h6><%= teacher.attached_school.name %></h6>
          <div class="distance">
            <%= image_tag "distance.svg", height: 25 %>
            <h6><%= sprintf('%.0f', teacher.distance(@assignment.school)) %> km</h6>
          </div>
        </div>
        <%# <div class="competence">
          <strong>Niveau souhaité:</strong> <%= "#{teacher.level}" %>
        <%# </div> %>
        <%# <div class="experience">
          <% if teacher.specification? %>
              <%# <strong>Catégorie souhaitée:</strong> <%= "#{teacher.specification}" %>
          <%# <% end %>
        <%# </div> %>
        <%= link_to "Assigner", affect_assignment_path(@assignment, user_id: teacher.id), method: :post %>
      </div>
    <% end %>
  </div>
</div>
