<div class="container">
  <h1>Sélection des instituteurs</h1>
  <h3> Pour l'établissement : <strong> <%= "#{@school.name}" %> </strong> </h3>

  <div class="d-flex">
    <% @match_teachers_around.each do |teacher| %>
    <div class="cartes">
      <div class="row align-items">
        <div class="col">
          <div class="image">
            <img src="" alt="la photo">
          </div>
        </div>
        <div class="col">
          <div class="contenus">
            <div class="titre">
              <%= "#{teacher.first_name} #{teacher.last_name}" %>
            </div>
            <div class="bio">
              <strong>Disponibilité:</strong><%= " #{teacher.availability}" %>
            </div>
          </div>
      </div>
    </div>
  <div class="competence"> 
    <strong>Niveau souhaité:</strong> <%= "#{teacher.level}" %>
  </div>
  <div class="experience">
    <strong>Catégorie souhaitée:</strong> <%= "#{teacher.specification}" %>
  </div>
  <div class="cliquer">
    <button>
      <%= link_to "Envoyez un email", affect_assignment_path(@assignment, user_id: teacher.id), method: :post %>
    </button>
  </div>
  </div>
  <% end %>
</div>
     

