<div class="mail-container">
  <div class="image-mail">
    <h1>
      <span class="second-color"><strong>teach</strong>app</span>
    </h1>
  </div>
  <div class="mail-content">
    <h3>Nouvelle affectation</h3>
      Vous venez de recevoir une affectation de:<br>
      <div class="nom">
        <strong><%= @assignment.school.name %></strong>
      </div>
      <div class="date-mail">
        <br>Du <strong><%= l @assignment.start_date %></strong> au <strong><%= l @assignment.end_date %></strong>, soit (<%= pluralize(@assignment.duration, 'jour') %>).<br><br>
      </div>
  </div>
      <%= link_to 'Voir les détails', accept_assignment_url(@assignment), class: 'button-mail' %>
</div>
