 <div class="school_cards">
    <% temp_assigns.each_with_index do |assignment, i| %>
      <%= link_to teacher_proposals_assignment_path(assignment), :action => 'go' do %>
      <div class="assignment_card" style="animation-delay: <%= i * 0.4 %>s;">
        <div class="header_card">
          <div class="text_card">
            <p class="titre_card"><%= assignment.school.name %></p>
            <div class="date_card">
              <%= image_tag "calendar.svg", height: 25 %>
              <p><%= "Du #{l assignment.start_date} au #{l assignment.end_date}" %> (<%= pluralize((assignment.end_date - assignment.start_date).to_i, 'jour') %>)</p>
            </div>
          </div>
          <div class="badges_card">
            <span class="badge rounded-pill bg-light"><%= assignment.classroom.level %></span>
            <span class="badge rounded-pill bg-info"><% if assignment.school.specification? %>
              <%= assignment.school.specification %>
            <% end %></span>
          </div>
        </div>
        <div class="content_card">
          <%= image_tag "icon_map.svg", height: 30 %>
          <p><%= assignment.school.address %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
