<% classroom.reviews.each do |review| %>
<hr>
<p id="review-<%= review.id %>">Ecrit par <strong><%= review.user.first_name %> <%= review.user.last_name %></strong> à <%= I18n.l(review.created_at, format: :short) %>:<br>
<%= review.content %></p>
<% end %>
<%= link_to 'Back', assignments_path %>

<%= simple_form_for ([ classroom, Review.new ]), remote: true do |f| %>
<%= f.hidden_field :assignment, as: :hidden, value: assignment.id  %>
<%= f.input :content, as: :text, label: "Nouvelle entrée :" %>
<%= f.button :submit, "Enregistrer" %>
<% end %>