<h3>Carnet de bord classe</h3>
<hr>
<p>Suivit du programme de la classe <%= @assignment.classroom.level %> </p>
<div class="review-container">
  <% classroom.reviews.each do |review| %>
    <hr>
    <p id="review-<%= review.id %>">Ecrit par <strong><%= review.user.first_name %> <%= review.user.last_name %></strong> le <%= I18n.l(review.created_at, format: :short) %><br>
    <%= review.content %></p>
  <% end %>
</div>
<div class="form-review">
  <%= simple_form_for ([ classroom, Review.new ]), remote: true do |f| %>
    <%= f.hidden_field :assignment, as: :hidden, value: assignment.id  %>
    <%= f.input :content, as: :text, label: "Nouvelle entrée :" %>
    <%= f.button :submit, "Enregistrer", class: "btn btn-primary w-100" %>
  <% end %>
</div>