<h4>Carnet de bord classe</h4>
<hr>
<p>Suivi du programme de la classe <%= @assignment.classroom.level %> </p>
<div class="review-container">
  <% classroom.reviews.each do |review| %>
    <div id="review-<%= review.id %>">
    <span class="review_name">
      <%= review.user.first_name %><%= review.user.last_name %>
    </span>
    <span class="review_date"><%= I18n.l(review.created_at, format: :short) %></span>
    <div class="review-content">
      <span><%= review.content %></span></div>
    </div>
  <% end %>
</div>
<div class="form-review">
  <%= simple_form_for ([ classroom, Review.new ]), remote: true do |f| %>
    <%= f.hidden_field :assignment, as: :hidden, value: assignment.id  %>
    <%= f.input :content, as: :text, label: "Nouvelle entrée :" %>
    <%= f.button :submit, "Enregistrer", class: "boutons-dashboard" %>
  <% end %>
</div>
