<h3><%= @assignment.school.name %></h3>
<p>Specification: <%= @assignment.school.specification ? @assignment.school.specification : "Aucune" %></p>
<p> <%= @assignment.school.address %> </p>
<p> téléphone : <%= @assignment.school.phone %> </p>
<h4>Directeur / Directrice :</h4>
<p><%="#{@assignment.school.director.first_name} #{@assignment.school.director.last_name}"%></p>
<p><%="#{@assignment.school.director.phone}"%></p>
<p><%="#{@assignment.school.director.email}"%></p>

<h4>Enseignant(e) absent(e) :</h4>
<p><%="#{@assignment.classroom.main_teacher.first_name} #{@assignment.classroom.main_teacher.last_name}"%></p>
<p><%="#{@assignment.classroom.main_teacher.phone}"%></p>
<p><%="#{@assignment.classroom.main_teacher.email}"%></p>