<div class="title-dashboard">
  <div class="icon-contact">
    <%= image_tag "icon_contact.svg", height: 25 %>
  </div>
  <h4>Contacts</h4>
</div>
<hr>
<h5><%= @assignment.school.name %></h5>
<p>
  <%= @assignment.school.phone %><br>
  <% if assignment.school.specification? %>
  <%= assignment.school.specification %>
  <% end %>
</p>
<h5>Directeur / Directrice :</h5>
<p><%="#{@assignment.school.director.first_name} #{@assignment.school.director.last_name}"%><br>
<%="#{@assignment.school.director.phone}"%><br>
<a class="mailto" href="mailto:<%="#{@assignment.school.director.email}"%>"><%="#{@assignment.school.director.email}"%></a>
</p>

<h5>Enseignant(e) absent(e) :</h5>
<p><%="#{@assignment.classroom.main_teacher.first_name} #{@assignment.classroom.main_teacher.last_name}"%><br>
<%="#{@assignment.classroom.main_teacher.phone}"%><br>
<a class="mailto" href="mailto:<%="#{@assignment.classroom.main_teacher.email}"%>"><%="#{@assignment.classroom.main_teacher.email}"%></a>
</p>
