<h5>Contacts</h5>
<hr>
<h5><%= @assignment.school.name %></h5>
<p><%= @assignment.school.address %><br>
téléphone : <%= @assignment.school.phone %><br>
Specification: <%= @assignment.school.specification ? @assignment.school.specification : "Aucune" %></p>
<h5>Directeur / Directrice :</h5>
<p><%="#{@assignment.school.director.first_name} #{@assignment.school.director.last_name}"%><br>
<%="#{@assignment.school.director.phone}"%><br>
<%="#{@assignment.school.director.email}"%></p>

<h5>Enseignant(e) absent(e) :</h5>
<p><%="#{@assignment.classroom.main_teacher.first_name} #{@assignment.classroom.main_teacher.last_name}"%><br>
<%="#{@assignment.classroom.main_teacher.phone}"%><br>
<%="#{@assignment.classroom.main_teacher.email}"%></p>
