<div class="title-dashboard">
  <div class="icon-map">
    <%= image_tag "icon_map.svg", height: 30 %>
  </div>
  <h4>Carte Ecole</h4>
</div>
<hr>
<div class="title-address">
  <h6><%= @assignment.school.address %></h6>
  <div class="arrows">
    <%= link_to "Votre itinéraire", "https://www.google.fr/maps/dir/#{@attached_marker[:lat]},#{@attached_marker[:lng]}/#{@assign_marker[:lat]}, #{@assign_marker[:lng]}", target: '_blank', class: "lien"%>
  </div>
</div>
<div id="map"
  style="width: 100%; height: 450px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
