<div class="title-space">
  <div class="title-dashboard">
    <div class="icon-contact">
      <%= image_tag "icon_contact.svg", height: 25 %>
    </div>
      <h4>Contacts</h4>
  </div>
  <div class="subtitle">
  </div>
</div>
<hr>
<div class="flex-justify-evenly">
  <div>
    <h5>Directeur / Directrice :</h5>
    <div class="directeur">
      <i class="far fa-user"></i> <%="#{@assignment.school.director.first_name} #{@assignment.school.director.last_name}"%><br>
      <i class="fas fa-phone-alt"></i> <%="#{@assignment.school.director.phone}"%><br>
      <i class="fas fa-at"></i> <a class="default-link" href="mailto:<%="#{@assignment.school.director.email}"%>"><%="#{@assignment.school.director.email}"%></a>
    </div>
  </div>
  <div>
    <h5>Enseignant(e) absent(e) :</h5>
    <div class="directeur">
      <i class="far fa-user"></i> <%="#{@assignment.classroom.main_teacher.first_name} #{@assignment.classroom.main_teacher.last_name}"%><br>
      <i class="fas fa-phone-alt"></i> <%="#{@assignment.classroom.main_teacher.phone}"%><br>
      <i class="fas fa-at"></i> <a class="default-link" href="mailto:<%="#{@assignment.classroom.main_teacher.email}"%>"><%="#{@assignment.classroom.main_teacher.email}"%></a>
    </div>
  </div>
</div>