<!DOCTYPE html>
<html>
  <head>
    <title>Teachapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <% if @body_with_background %>
    <body class="body_background" style="background-image: linear-gradient(rgba(255,249,240,0.4), rgba(255, 249, 240,0.4)), url(<%= image_url("support_fond_#{rand(1..5)}.png")%>);">
  <% else %>
    <body>
  <% end %>
    <%= render 'shared/navbar', current_assignment: @current_assignment %>
    <%= render 'shared/flashes' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
